@font-face{
	font-family: san;
	src: url(sansation_light.woff);
}
html
{
	box-sizing: border-box;
}
*, *:before, *:after
{
	box-sizing: inherit;
}

body
{
	font-family: Lato;
	background-color: #9B9382;
	margin: 0px;
}

.head
{
	float: left;
	height: 48px;
	width: 100%;
	font-size: 32px;
	background-color: #f8f4eb;/*f2e9d8*/
	padding-top: 8px;
	padding-left: 16px;
}
/*This is for left column.*/
.col
{
	float: left;
	height: calc(100% - 48px);
	width: 172px;
	background-color: #F5EDE0;
	padding-top: 8px;
}

.metric
{
	height: 346px;
	width: 162px;
	background-color: none;
	padding-top: 16px;
	padding-left: 16px;
}

.rank
{
	position: relative;
	top: 14px;
	height: 148px;
	width: 162px;
	padding-top: 4px;
	padding-left: 16px;
	white-space: nowrap;
	overflow: hidden;
}
	.rank span
	{
		color: #444444;
		position: relative;
		font-size: 15px;
		left: -12px;
		top: -16px;
	}
	.rank span a:link
	{
		color: #444444;
		text-decoration: none;
	}
	.rank span a:visited
	{
		color: #444444;
		text-decoration: none;
	}
	.rank span a:hover
	{
		color: black;
		text-decoration: none;
	}

.option
{
	position: absolute;
	top: -1400px;
	left: 200px;
	width: 200px;
	height: 392px;
	background-color: #FFFAF0;
	padding-left: 4px;
	padding-top: 4px;
}
	.option label
	{
		margin-bottom: 2px;
		background-color: #FFFAF0;
		border: 1px solid grey;
		float: left;
		width: 192px;
	}
	.option label span
	{
		text-align:center;
		padding:3px 0px;
		display:block;
	}
	.option label input
	{
		position:absolute;
		top:-2000px;
	}
	.option label input:checked + span
	{
		background-color: grey;
		color: #FFFFFF;
	}
	.option label input:hover + span
	{
		background-color: grey;
		color: #FFFFFF;
	}
	.option select
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 4px;
		width: 160px;
	}
	.option #opt_scale
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 148px;
		padding-left: 2px;
	}
	.option #opt_exp
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 159px;
		padding-left: 2px;
	}
	.option #opt_color0
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
	}
	.option #opt_color1
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
		margin-left: 53px;
	}
	.option #opt_color2
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
		margin-left: 53px;
	}
	.option #opt_color3
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
		margin-left: 53px;
	}
	.option #opt_color4
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
		margin-left: 53px;
	}
	.option #opt_color5
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
		margin-left: 53px;
	}
	.option #opt_color6
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
		margin-left: 53px;
	}
	.option #opt_color7
	{
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		margin-bottom: 2px;
		width: 139px;
		padding-left: 2px;
		margin-left: 53px;
	}
.col #opt_on_lab
{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 416px;
	left: 128px;
	background-color: none;
}
.col #opt_on_img
{
	height: 24px;
	width: 24px;
}
.col #opt_on_img:hover
{
	background-color: #FFFAF0;
}
.col #opt_on_img:active
{
	background-color: #FFFAF0;
}
.col #opt_on:checked + #opt_on_img
{
	background-color: #FFFAF0;
}

.col #opt_on
{
	position: absolute;
	top: -1000px;
}

.about
{
	position: relative;
	top: calc(100% - 544px);
	height: 50px;
	width: 162px;
	background-color: none;
	padding-top: 16px;
	padding-left: 16px;
}
/*This is for buttons*/
	.metric label
	{
		float: left;
		margin-left: -16px;
		margin-bottom: 4px;
		margin-top: 4px;
		background-color: none;
		width: 134px;
		height: 30px;
	}
	.metric label span
	{
		text-align: left;
		color: #AD986D;
		padding-left:3px;
		padding-top: 8px;
		height: 30px;
		display: block;
		border-style: solid;
		border-color: grey;
		border-width: 1px;
	}
	.metric label input
	{
		position:absolute;
		top:-20px;
	}
	.metric label input:checked + span
	{
		background-color: #AD986D;
		border-color: #AD986D;
		color: #FFFFFF;
	}
	.metric label input:hover + span
	{
		background-color: #CDB68A;
		border-color: #CDB68A;
		color: #FFFFFF;
	}

	.metric label #scheck0+span
	{
		color: #e74c3c;
	}
	.metric label #scheck0:checked + span
	{
		background-color: #e74c3c;
		border-color: #e74c3c;
		color: #ffffff;
	}
	.metric label #scheck0:hover + span
	{
		background-color: #e74c3c;
		border-color: #e74c3c;
		color: #ffffff;
	}
	.metric label #scheck1+span
	{
		color: #e67e22;
	}
	.metric label #scheck1:checked + span
	{
		background-color: #e67e22;
		border-color: #e67e22;
		color: #ffffff;
	}
	.metric label #scheck1:hover + span
	{
		background-color: #e67e22;
		border-color: #e67e22;
		color: #ffffff;
	}
	.metric label #scheck2+span
	{
		color: #f1c40f;
	}
	.metric label #scheck2:checked + span
	{
		background-color: #f1c40f;
		border-color: #f1c40f;
		color: #ffffff;
	}
	.metric label #scheck2:hover + span
	{
		background-color: #f1c40f;
		border-color: #f1c40f;
		color: #ffffff;
	}
	.metric label #scheck3+span
	{
		color: #1abc9c;
	}
	.metric label #scheck3:checked + span
	{
		background-color: #1abc9c;
		border-color: #1abc9c;
		color: #ffffff;
	}
	.metric label #scheck3:hover + span
	{
		background-color: #1abc9c;
		border-color: #1abc9c;
		color: #ffffff;
	}
	.metric label #scheck4+span
	{
		color: #2ecc71;
	}
	.metric label #scheck4:checked + span
	{
		background-color: #2ecc71;
		border-color: #2ecc71;
		color: #ffffff;
	}
	.metric label #scheck4:hover + span
	{
		background-color: #2ecc71;
		border-color: #2ecc71;
		color: #ffffff;
	}
	.metric label #scheck5+span
	{
		color: #3498db;
	}
	.metric label #scheck5:checked + span
	{
		background-color: #3498db;
		border-color: #3498db;
		color: #ffffff;
	}
	.metric label #scheck5:hover + span
	{
		background-color: #3498db;
		border-color: #3498db;
		color: #ffffff;
	}
	.metric label #scheck6+span
	{
		color: #9b59b6;
	}
	.metric label #scheck6:checked + span
	{
		background-color: #9b59b6;
		border-color: #9b59b6;
		color: #ffffff;
	}
	.metric label #scheck6:hover + span
	{
		background-color: #9b59b6;
		border-color: #9b59b6;
		color: #ffffff;
	}
	.metric label #scheck7+span
	{
		color: #34495e;
	}
	.metric label #scheck7:checked + span
	{
		background-color: #34495e;
		border-color: #34495e;
		color: #ffffff;
	}
	.metric label #scheck7:hover + span
	{
		background-color: #34495e;
		border-color: #34495e;
		color: #ffffff;
	}

.map
{
	float: left;
	height: calc(100% - 48px);
	width: calc(100% - 172px);
	background-color: #F2E9D8;
	padding: 0;
	text-align: left;
}
.tooltip
{
	position: absolute;
	width: 300px;
	/*height: 28px;*/
	padding: 4px;
	font-family: Georgia, serif;
	font-size: 11px;
	background: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	/*border-radius: 8px;*/
	text-align: left;
}
.title
{
	font-size: 18px;
	margin-bottom: 0px;
}
.divider
{
	border-color: grey;
	border-top-style: solid;
	border-width: 1px;
	margin-top: 2px;
	margin-left: -4px;
}
/*
.c3
{
	float: left;
	height: 80%;
	width: 20%;
	background-color: #FFFAF0;
	padding: 1%;
}
.c3 label
{
	margin: 4px;
	background-color: #EFEFEF;
	border-radius: 4px;
	border: 1px solid #000000;
	float: left;
	width: 80%;
}
.c3 label span
{
	text-align:center;
	padding:3px 0px;
	display:block;
}
.c3 label input
{
	position:absolute;
	top:-20px;
}
.c3 label input:checked + span
{
	background-color: #AD986D;
	color: #FFFFFF;
}
.c3 label input:hover + span
{
	background-color: #CDB68A;
	color: #FFFFFF;
}
*/

.feature
{
	fill: none;
	stroke: grey;
	stroke-width: 1px;
	stroke-linejoin: round;
}
.mesh
{
	fill: none;
	stroke: lightgrey;
	stroke-width: 2px;
	stroke-linejoin: round;
}